#right_pane {
    background-color: #303030;
    padding: 0;
    margin: 0;
}

#right_pane h2 {
    text-align: center;
}

#toolsettings_container {
    font-size: 42px;
    background-color: #303030;
    margin-bottom:0;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100vh;
    overflow-y: auto;
}

#toolsettings_container div {
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    text-align: center;
    padding-right: 15px;
}

#toolsettings_container div {
    border-top: white solid 1px;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

#toolsettings_container label {
    font-size: 24px;
    color: white;
    float: left;
    line-height: 65px;
}

#toolsettings_container label::after {
    content: " ";
}

#toolsettings_container input[type="color"] {
    border: none;
    padding: 0;
    background-color: transparent;
    float: right;
}

#toolsettings_container input[type="number"] {
    width: 90px;
    float: right;
}

#toolsettings_container select {
    width: fit-content;
    color: black;
    display: inline;
    vertical-align: middle;
    height: 60px;
    float: right;
}

#toolsettings_container input {
    color: black;
    vertical-align: middle;

    min-width: 60px;
    min-height: 60px;
}