html {
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
}

body {
    background-color: #131213;
    margin:0;
    color: white;
    font-family: Roboto;
}

/**
 Big screen
 */
@media only screen and (min-width: 1024px) {

    #top-nav {
        transform: translateX(0%) !important;
        position: inherit!important;
        width: 100%!important;
        top: auto!important;
        overflow-y: hidden;
    }

    .side-nav {
        top: auto!important;
    }

    #top-nav .col:not(:last-child) {
        border-right: solid white 1px;
    }


    #top-nav div p {
        line-height: 100px;
    }

    .title {
        line-height: 100px !important;
        font-size: 53px!important;
    }

    #top-nav .col {
        margin-top: 15px;
        height: 100px;
    }
}

/**
 Mobile
 */
@media only screen and (max-width: 1023px) {

    #top-nav div p {
        line-height: 50px;
    }

    .title {
        line-height: 50px !important;
        font-size: 40px!important;
    }

    #top-nav .col {
        margin-top: 15px;
        height: 50px;
    }
}

.btn-floating.btn-huge {
    width: 150px;
    height: 150px;
}

.material-icons.huge {
    line-height: 150px;
    font-size: 74px;
}

.fixed-low-left {
    position: fixed;
    left: 23px;
    bottom: 23px;
}

.fixed-low-right {
    position: fixed;
    right: 23px;
    bottom: 23px;
}

.title {
    color: white;
    font-weight: 100;
}

#top-nav {
    background-color: #282728;
    height: 100%;
    margin-bottom: 0!important;
    padding-bottom: 15px;
}


#top-nav div p {
    margin:0;
    text-align: center;
    padding-top: 1em;
}



.flex {
    display:flex;
    align-items: center;
    justify-content:center;
}

#top-nav .col {
    text-align: center;
}

#top-nav div > a:hover {
    cursor: pointer;
}

#top-nav div p a {
    width: 100%;

    line-height: 30px;
    height: 70px;
    vertical-align: top;
    padding: 5px;
    font-size: 20px;
}

#top-nav div p input {
    font-size: 42px!important;
    line-height: 100px!important;
}

#filename-container {
    margin: 0;
    line-height: 125px;
}


.newproject-container input{
    text-align: center;
}

.newproject-container *{
    width: 30%!important;
}


#back_col a {
    line-height: 60px;
    height: 70px;
    vertical-align: top;
    padding: 5px;
    font-size: 20px;
}



#toolbox-container {
    margin: 0;
    padding-top: 35px;
}

#toolbox-container img {
    height: 56px;
}

#toolbox-container *:hover{
    cursor: pointer;
    color: #86fdff;
}

#toolbox-container img:hover, .hovered {
    filter: brightness(100%) sepia(100) saturate(100) hue-rotate(149deg);
}

#viewport {
    width: 100%;
}

#viewport-container {
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button {

}
